body {
    background-image: url(../assets/assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--body-background);
    height: 100vh;
}