.container.-one-section {
    display: flex;
    width: 79.8125rem;
    height: 15.375rem;
    margin: 4.375rem auto 0;
    justify-content: space-between;
}

.one-section {
    display: flex;
    color: var(--text-color);
}

/* one-column */
.one-section.-one-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.one-section.-one-column p {
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.375rem;
}

.one-section.-group-image {
    width: 23.0625rem;
    height: 5.4375rem;
    align-items: center;
}

.one-section.-group-image img {
    width: 10.5625rem;
    height: 5.4375rem;
}

.one-section.-group-image p {
    width: 12.125rem;
    height: 3rem;
    font-size: 1.125rem;
}

.one-section.-group-image p::first-line {
    font-weight: bold;
}

.one-section.-two-column {
    align-items: center;
    margin-right: 0.625rem;
}

.one-section.-two-column p {
    width: 37.25rem;
    height: 15.375rem;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.8125rem;
    margin-right: 0.625rem;
}

.one-section.-two-column span {
    color: var(--color-logo);
}

.one-section.-two-column img {
    width: 12.5rem;
    height: 12.5rem;
}